html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  word-wrap: break-word;
}

th, td {
  text-align: center !important;
  white-space: normal !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#root {
  min-height: 100%;
}

.loading {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(33,150,244, 0.4);
  border-radius: 30%;
  animation: pulse infinite 2s;
}

.App-header, .App-footer {
  padding: 20px;
  color: white;
  text-align: center;
  background-color: #000000;
  z-index: 8;
}

.App-header > h2 {
  margin-bottom: 0;
}

.App-footer {
  position: fixed;
  bottom: 0;
  height: 15px;
  width: 100%;
  overflow: hidden;
}

.nav-logo {
  border-radius: 30%;
  box-shadow: 0 0 0 rgba(33,150,244, 0.4);
  padding: 10px;
  max-height: 50px;
  animation: pulse infinite 2s;
}

.table-left > tbody > tr > td {
  text-align: left !important;
}

.online {
  color: green;
  font-weight: bold;
}

.offline {
  color: red;
  font-weight: bold;
}

.form-fields {
  width: 100%;
}

.form-buttons {
  width: 100%;
  text-align: center;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(33,150,244, 0.4);
    box-shadow: 0 0 0 0 rgba(33,150,244, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
